
/* estilos carrito */
.element--vitrina-productos .productBrand{
    font-size: 16px;
    font-family: 'Raleway-medium';
    font-weight: 600;
    color: #151515;
}

.element--vitrina-productos .nameContainer{
    margin: -20px 0px;
}

/* carrito estilos */
.element--vitrina-productos .currencyInteger {
    font-size: 20px;
    font-family: system-ui;
    color: #171010;
}



.element--vitrina-productos :global(.vtex-button) {
    background-color: #232323;
    border-color: #232323;
    color: white;
    font-weight: 600;
    font-family: 'Raleway-medium';
    border-radius: inherit;
    padding: 0px 30px;
    top: -5px;
  }

  .element--vitrina-productos:hover :global(.vtex-button){
    background-color:white;
    border-color: red;
    color: red;

}



.element--vitrina-productos-categoria .pointer:hover :global(.vtex-button){
    background-color:white;
    border-color: #232323;
    color: #232323;

}



.priceContainer {
    margin-top: -2px;
    /* font-size: 20px; */
}

/* producto categoria */
.nameContainer{
    padding-bottom: 1px;
}

.productBrand {
    color: #515E63;
    font-weight: 600;
}