.flexRow{
    background-color: white;
    
}

.flexRowContent--menu-link{
    height: 100px;
}

.flexRow--menu-link{
    background-color: rgb(255,255,255);
}

.flexRow--boton-detalle {
    height: 43px;
    width: 48%;
    margin-left: 0px;

}

.price {
    display: none;
}