.menuContainerNav{
    margin: 30px 0px;
    
}

.styledLinkContent--menuTitleNew{
    color:#055052;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway-medium';
}

.styledLinkContent--menuTitle{
    color: #232323;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway-medium';
}

.submenuWrapper{
    background-color: #232323;
}

.styledLinkContent--titleSubMenu{
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Raleway-medium';
}

.styledLink--contentSubmenu{
    color: white;
    font-family: 'Raleway-medium';
}

.styledLinkContent--contenidoFooter {
    color: #151515;
    font-family: 'Raleway-medium';
    font-size: 11px;
}