.paragraph--aboutUsFooter{
    font-size: 14px;
    font-family: 'Raleway-medium';
    margin-left: 25px;
    color: #2C2C2C;
    font-weight: bold;
    font-style: italic;
}

.container--titleCombo{
    font-size: 25px;
    font-weight: 700;
    color: #232323;

}

