.title::before {content: "";display: block;border-bottom: 2px solid #E1701A;width: 2%;}
.title::after {content: "";display: block;border-bottom: 2px solid #E1701A;width: 2%;}

.title{
    color: #E1701A;
}