.flexRow{
    background-color: white;
    
}

.flexRowContent--menu-link{
    height: 100px;
}

.flexRow--menu-link{
    background-color: rgb(255,255,255);
}

.flexRow--boton-detalle {
    height: 43px;
    width: 48%;
    margin-left: 0px;

}

.flexRowContent--boton-detalle :global(.vtex-button){
    background-color:#232323 !important;
    border-color:  #232323 !important;
    color:  white !important;

}

.flexRowContent--boton-detalle:hover :global(.vtex-button){
    background-color: white !important;
    border-color: #232323 !important;
    color: #232323 !important;

}



/* .quantitySelectorTitle--cantidad-detalle{
    color: #171717;font-size: 17px;font-family: 'roboto-regular';font-weight: 600;
} */